src/main/mule/implementations/report-case-to-who.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="post:\case:application\json:who-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="1a1a73f9-e63e-4c63-a014-3a82e09315b1" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="1e5ca14f-a048-434f-a933-4bb131b5e316" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started report covid case to who flow", payload: #[payload]' />
		<ee:transform doc:name="Prepare WHO Case Payload" doc:id="6c77cc72-5a35-4f58-a544-a6f27afe08d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	COVID_CASE: {
		FIRST_NAME: payload.firstName,
		LAST_NAME: payload.lastName,
		PHONE: payload.phone,
		EMAIL: payload.email,
		DATE_OF_BIRTH: payload.dateOfBirth,
		COUNTRY: payload.country
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dynamicProperties" ><![CDATA[%dw 2.0
output application/java
---
{
	CASE_TYPE: payload.caseType
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
<!-- 		<flow-ref doc:name="publish-covid-case-to-who" doc:id="5fdd1768-fb20-4745-84be-39fca78bb1f8" name="publish-covid-case-to-who" />
 -->		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	code: 200,
	message: "Success",
	description: "Case reported successfully",
	dateTime: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	transactionId: vars.transactionId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="ecef500a-877a-4550-b45c-efff0f04447d" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started report covid case to who flow", payload: #[payload]'/>
    
</flow>
	</mule>
